.number {
    margin-right: 50px;
    font-style: oblique;
    color: black;
}

.label .form1-field {
    font-size: 12px;
}

.form1-field {
    text-align: left;
    display: block;
    width: 100%;
    min-height: 28px;
    min-width: 100%!important;
}

.form-heading {
    font-size: 14px;
    font-style: oblique; 
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    white-space: normal;
}