
<div class="container-fluid border">
  <div class="row form-row">
    <div class="col-md-4 text-left">
      <span class="label">1.  USCIS ELIS Account Number <em>(if any)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="number" max="999999999999" maxlength="12" id="part1_elis_number" class="form1-field" 
        title="Please enter your USCIS ELIS Account Number" required/>
    </div>
  </div>

  <div class="row">
    <div class="form-heading text-center col"
      title="Section: Name and Address of Attorney or Accredited Representative">
      Name and Address of Attorney or Accredited Representative
    </div>
  </div>

  <div class="row form-row">
    <div class="col text-left">
      <span class="label">2.a.  Family Name <em>(Last Name)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="80" id="part1_last_name" class="form1-field"
        title="Please enter your Family Name (Last Name)" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">2.b.  Given Name <em>(First Name)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_first_name" class="form1-field"
        title="Please enter your Given Name (First Name)" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">2.c.  Middle Name:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_middle_name" class="form1-field"
        title="Please enter your Middle Name" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.a.  Street Number and Name:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_street_number_name" class="form1-field"
        title="Please enter your Street Number and Street Name" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.b.</span>
    </div>
    <div class="col-md-1 radio text-left" title="Please select your address type">
      <label>
        <input type="radio" name="part1_optionsRadios" id="part1_optionsRadios1" value="apt" checked title="Apartment">
        Apt.
      </label>
    </div>
    <div class="col-md-1 radio text-left">
      <label>
        <input type="radio" name="part1_optionsRadios" id="part1_optionsRadios2" value="ste" title="Suite">
        Ste.
      </label>
    </div>
    <div class="col-md-1 radio text-left">
      <label>
        <input type="radio" name="part1_optionsRadios" id="part1_optionsRadios3" value="flr" title="Floor">
        Flr.
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.c. City or Town:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_city_town" class="form1-field"
        title="Please enter your City or Town Name" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.d.  State:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_state" class="form1-field"
        title="Please enter your State" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.e.  Zip Code:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_zip" class="form1-field" 
        title="Please enter your Zip Code" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.f. Province:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_province" class="form1-field"
        title="Please enter your Province" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.g. Postal Code:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_postal_code" class="form1-field"
        title="Please enter your Postal Code" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.h. Country:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part1_country" class="form1-field" 
        title="Please enter your Country" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">4. Daytime Telephone Number:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="tel" maxlength="40" id="part1_daytime_phone" class="form1-field"
        title="Please enter your Daytime Telephone Number"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">5. Fax Number:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="tel" maxlength="40" id="part1_fax_number" class="form1-field"
        title="Please enter your Fax Number"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">6. E-Mail Address <em>(if any)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="email" maxlength="40" id="part1_email" class="form1-field"
        title="Please enter your E-Mail Address" required/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">7. Mobile Telephone <em>(if any)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="tel" maxlength="40" id="part1_mobile_number" class="form1-field"
        title="Please enter your Mobile Telephone Number" required/>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-primary saveBtn text-center" id="part_1" 
        title="Click to save Part One of this form">
        Save Part 1 of Form
      </button>
    </div>
  </div>
</div>