.number {
    margin-right: 50px;
    font-style: oblique;
    color: black;
}

.label .form1-field {
    font-size: 12px;
}

.form1-field {
    text-align: left;
    display: block;
    width: 100%;
    min-height: 28px;
    min-width: 100%!important;
}