<div class="container-fluid border">

  <div class="row">
      <div class="text-left col">
        Select all applicable items.
      </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">1.a.</span>
    </div>
    <div class="col-md-11 text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part3EligibleAttorney">
      <label class="form-check-label checkBoxLabel" for="part3EligibleAttorney">
        I am an attorney eligible to practice law in, and a member in good standing of,
        the bar of the highest courts of the following states, possessions, territories,
        commonwealths, or the District of Columbia. <em>(If you need additional space, use Part 6)</em>
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-md-1 text-left"></div>
    <div class="col-md-3 text-left">
      <span class="label">Licensing Authority:</span>
    </div>
    <div class="col-md-8 text-left">
        <input type="text" maxlength="80" id="part3LicensingAuth" class="form3-field"
          title="Licensing Authority"/>
      </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">1.b.  Bar Number <em>(if applicable)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_bar_number" class="form3-field"
        title="Please enter your Bar Number"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">1.c.  Name of Law Firm:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_law_firm" class="form3-field"
        title="Please enter the name of your Law Firm"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">1.c.  Name of Law Firm:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_law_firm" class="form3-field"
        title="Please enter the name of your Law Firm"/>
    </div>
  </div>

  <div class="row form-row text-left">
      <div class="col-xs-1 text-left">
          <span class="label">1.d.  I</span>
      </div>
      <div class="col-md-1 radio text-left">
        <label>
          <input type="radio" name="optionsPart3A" id="optionsPart3A1" value="am_not" title="Am Not">
          am not
        </label>
      </div>
      <div class="col-md-1 radio text-left" title="am">
        <label>
          <input type="radio" name="optionsPart3A" id="optionsPart3A2" value="am" title="Am">
          am
        </label>
      </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-md-6 text-left">
      <label class="checkBoxLabel">
        subject to any order or administrative agency disbaring, suspending, enjoining, restraining,
        or otherwise restricting me in the practice of law.  If you are subject to any orders, explain
        in the space below.  <em>(If you need additional space, use Part 6)</em>
      </label>
    </div>
    <div class="col-md-6 text-left">
      <input type="text" maxlength="40" id="part3_disbar_reasons" class="form3-field"
        title="Please enter your explanation for why you are subject to orders."/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">2.a.</span>
    </div>
    <div class="col-md-11 text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part3EligibleRepresentative">
      <label class="form-check-label checkBoxLabel" for="part3EligibleRepresentative">
        I am an accredited representative of the following qualified nonprofit religious, charitable,
        social service, or similar organization established in the United States, so recognized by the
        Department of Justice, Board of Immigration Appeals, in accordance with 8 CFR 292.2.  Provide
        the name of the orgnization and the expiration date of accreditation.
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">2.b.  Name of Recognized Organization:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_recognized_organization" class="form3-field"
        title="Please enter the name of Recognized Organization"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">2.c.  Date accreditation expires <em>(mm/dd/yyyy)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_date_accreditation_expires" class="form3-field"
        title="Date accreditation expires"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">3.</span>
    </div>
    <div class="col text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part3associationWith">
      <label class="form-check-label checkBoxLabel" for="part3associationWith">
        I am associated with
      </label>
    </div>
    <div class="col-md-8 text-left">
        <input type="text" maxlength="40" id="part3_associated_with" class="form3-field"
          title="The attorney you are associated with"/>
      </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">
        the attorney or accredited representative of record who previously filed Form G-28 in this case,
        and my appearance as an attorney or accredited representative is at his or her request.  NOTE: if 
        you select this item, also complete Item Numbers 1.a.-1.b. or Item Numbers 2.a.-2.c. in Part 3.
        <em>(whichever is appropriate).</em>
      </span>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">4.a.</span>
    </div>
    <div class="col text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part3lawStudent">
      <label class="form-check-label checkBoxLabel" for="part3lawStudent">
        I am a law student or law graduate working under the direct supervision of the attorney or accredited
        representative of record on this form in accordance with the requirements in 8 CFR 292.1(a)(2)(iv).
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">4.b. Name of Law Student or Law Graduate:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part3_law_student_name" class="form3-field"
        title="Name of Law Student or Law Graduate"/>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-primary saveBtn text-center" id="btn_part_3" 
        title="Click to save Part Three of this form">
        Save Part 3 of Form
      </button>
    </div>
  </div>

</div>
