/* You can add global styles to this file, and also import other style files */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css');

#header {
    margin-top: 0px;
    text-align: center;
    padding: 5px;
}

.sectionTitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-heading {
    font-size: 14px;
    font-style: oblique; 
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    white-space: normal;
}

.form-row {
    padding-left: 2px;
}

.saveBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkBoxSpacing {
    margin-left: 3px;
    margin-right: 3px;
}

.checkBoxLabel {
    margin-left: 20px;
    margin-right: 3px;
}

.userSpan {
    font-size: 10pt;
    float: right;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}