<div class="container login-container">
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" class="form-control" id="username" required 
        [(ngModel)]="user.email" name="username" title="Enter Email Address">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required 
        [(ngModel)]="user.password" name="password" title="Enter Password">
    </div>

    <div style="text-align:center">
      <button type="button" class="btn btn-success login-button" (click)="onLogin()" title="Login Button">
        LOGIN
      </button>
    </div>
  </form>
</div>
