<div class="centerDIV">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <br/>
  <img width="200" alt="Dev Technology Logo" src="assets/images/dev-logo.png" title="Dev Technology Group, Inc.">
  <br/><br/><br/>
</div>

<div class="container login-container">
  <form>
    <div class="form-group" >
      <label>User ID</label>
      <input type="text" class="form-control" required
        [(ngModel)]="user.id" title="Enter User ID" data-placement="right" data-toggle="tooltip" name="user" id="user" #userid="ngModel">
        <div *ngIf="userid.invalid && (userid.dirty || userid.touched)" class="alert alert-danger">
        <div *ngIf="userid.errors.required">
            User ID is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" required minlength="8"
        [(ngModel)]="user.password" title="Enter Password" data-placement="right" data-toggle="tooltip" 
          name="password" id="password" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be 8 characters long
        </div>
      </div>
    </div>

    <div style="text-align:center">
      <button type="button" class="btn btn-primary login-button" (click)="onLogin()" title="Login Button">
        LOGIN
      </button>
    </div>

    <div class="buttonSpacer" style="text-align:center">
      <button type="button" class="btn btn-link login-button" (click)="createNewAccount()" title="Create New Account Button">
        <u>CREATE ACCOUNT</u>
      </button>
    </div>
  </form>
</div>

<div class="centerDIV envtitle">
  <span title={{environment}}>
    {{environment}}
  </span>
</div>