#header {
    margin-top: 0px;
    text-align: center;
}

.headerRow {
    text-align:center;
    vertical-align:middle;
    float:none;
}

.headerLeft {
    float:left;
    vertical-align: bottom;
}

.headerRight {
    float:right;
    vertical-align: bottom;
}

.line {
    text-align:center;
    border-bottom: 3px solid;
    margin-top: 5px;
}

#formBody {
    margin-top: 0px;
    text-align: center;
}

.formItemRow {
    padding: 10px;
    margin-bottom: 5px;
}