<br/>
<div class="container" id="header">
  <div class="row"> 
    <div class="col-md-3 headerRow headerLeft">
      <img src="assets/images/dhs_seal.png" width="100px" height="100px" title="DHS" alt="DHS"/>
    </div>
    
    <div class="col-md-5 headerRow">
      <h3>
        Notice of Entry of Appearance<br/>
        as Attorney or Accredited Representative 
      </h3> 
      <strong>Department of Homeland Security</strong>
    </div>
    
    <div class="col-md-3 headerRow headerRight">
      <strong>DHS</strong>
      <br/>
      <strong>Form G-28</strong>
      <br/>
      OMB No. 1615-0105
      <br/>
      Expires 03/31/2018
    </div>
  </div>

  <div class="row">
      <div class="col-md-10 headerRow">
        <div class="line"></div>
      </div>
  </div>
</div>

