<br/>
<div class="container-fluid" id="header">
  <div class="row"> 
    <div class="col-md-3 headerRow">
      <img src="assets/images/dhs_seal.png" class="img-fluid" max-width="100%" height="auto" title="DHS" alt="DHS"/>
    </div>
    
    <div class="col-md-6 headerRow">
      <h5>
        Notice of Entry of Appearance<br/>
        as Attorney or Accredited Representative 
      </h5> 
      <strong>Department of Homeland Security</strong>
    </div>
    
    <div class="col-md-3 headerRow">
      <div class="text-center">
        <strong>DHS</strong>
        <br/>
        <strong>Form G-28</strong>
        <br/>
        OMB No. 1615-0105
        <br/>
        Expires 03/31/2018
      </div>
    </div>
  </div>

  <div class="row">
      <hr>
  </div>
    
  <div class="row formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt1Collapse" title="Part 1. Information About Attorney or Accredited Representative">
        <strong>Part 1.  Information About Attorney or Accredited Representative</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt1Collapse">
    <app-part-1></app-part-1>
  </div>

  <div class="row formRow formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt2Collapse" title="Part 2.  Notice of Appearance as Attorney or Accredited Representative">
        <strong>Part 2.  Notice of Appearance as Attorney or Accredited Representative</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt2Collapse">
    <app-part-2></app-part-2>
  </div>

  <div class="row formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt3Collapse" title="Part 3.  Eligibility Information for Attorney or Accredited Representative">
        <strong>Part 3.  Eligibility Information for Attorney or Accredited Representative</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt3Collapse">
    <app-part-3></app-part-3>
  </div>

  <div class="row formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt4Collapse" title="Part 4.  Applicant, Petitioner, Requestor, or Respondent Consent to Representation, Contact Information, and Signature">
        <strong>Part 4.  Applicant, Petitioner, Requestor, or Respondent Consent to Representation, Contact Information, and Signature</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt4Collapse">
    <app-part-4></app-part-4>
  </div>

  <div class="row formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt5Collapse" title="Part 5.  Signature of Attorney or Accredited Representative">
        <strong>Part 5.  Signature of Attorney or Accredited Representative</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt5Collapse">
    <app-part-5></app-part-5>
  </div>

  <div class="row formRow">
    <button type="button" class="formItemRow btn btn-outline-primary btn-block text-left" data-toggle="collapse" data-target="#pt6Collapse" title="Part 6.  Additional Information">
        <strong>Part 6.  Additional Information</strong>
    </button>
  </div>

  <div class="collapse formPart" id="pt6Collapse">
    <app-part-6></app-part-6>
  </div>

  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-primary saveBtn text-center" id="btn_submit_form" 
        title="Submit Form">
        Submit Form
      </button>
    </div>
  </div>

</div>
