#header {
    margin-top: 0px;
    text-align: center;
    padding: 5px;
}

.headerRow {
    text-align:center;
    vertical-align:middle;
    float:none;
}

.headerLeft {
    float:left;
    vertical-align: bottom;
}

.headerRight {
    float:right;
    vertical-align: bottom;
}

.line {
    text-align: center;
    border-bottom: 3px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#formBody {
    margin-top: 0px;
    text-align: center;
}

.formRow {
    margin-left: 3px;
    margin-right: 3px;
}

.formItemRow {
    padding: 10px;
    margin-bottom: 5px;
    white-space: normal;
}

.formPart {
    margin-bottom: 5px;
}

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 6px;
    color: black;
}