<br/>
<div class="container" id="header">
  <div class="table">
    <div class="row"> 
      <div class="col-md-3 headerRow text-left">
        <img src="assets/images/dhs_seal.png" width="100px" height="100px" title="DHS" alt="DHS"/>
      </div>
      
      <div class="col-md-6 headerRow">
        <h5>
          Notice of Entry of Appearance<br/>
          as Attorney or Accredited Representative 
        </h5> 
        <strong>Department of Homeland Security</strong>
      </div>
      
      <div class="col-md-3 headerRow d-flex justify-content-end">
        <div class="text-center">
          <strong>DHS</strong>
          <br/>
          <strong>Form G-28</strong>
          <br/>
          OMB No. 1615-0105
          <br/>
          Expires 03/31/2018
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 headerRow">
          <div class="line"></div>
        </div>
    </div>
  </div>

  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 1.  Information About Attorney or Accredited Representative</strong>
  </div>
  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 2.  Notice of Appearance as Attorney or Accredited Representative</strong>
  </div>
  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 3.  Eligibility Information for Attorney or Accredited Representative</strong>
  </div>
  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 4.  Applicant, Petitioner, Requestor, or Respondent Consent to Representation, Contact Information, and Signature</strong>
  </div>
  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 5.  Signature of Attorney or Accredited Representative</strong>
  </div>
  <div class="border bg-primary text-white formItemRow text-left">
      <strong>Part 6.  Additional Information</strong>
  </div>

</div>
