<div class="container-fluid border">

  <div class="row">
      <div class="text-left col">
        I have read and understand the regulations and conditions contained in 8 CFR 103.2
        and 292 governing appearances and representation before the Department of Homeland
        Security.  I declare under penalty of perjury under the laws of the United States
        that the information I have provided on this form is true and correct.
      </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">1.  Signature of Attorney or Accredited Representative:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part5_attorney_signature" class="form5-field"
        title="Signature of Attorney or Accredited Representative"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">2.  Signature of Law Student or Graduate:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part5_law_student_signature" class="form5-field"
        title="Signature of Law Student or Graduate"/>
    </div>
  </div>
  
  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.  Date of Signature <em>(mm/dd/yyyy)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="date" maxlength="40" id="part5_signature_date" class="form5-field"
        title="Date of Signature"/>
    </div>
  </div>
  
  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-block btn-primary saveBtn text-center" id="btn_part_5" 
        title="Click to save Part Five of this form">
        Save Part 5 of Form
      </button>
    </div>
  </div>

</div>
