<div class="container-fluid border">

  <div class="row">
    <div class="form-heading text-center col"
      title="Section: Consent to Representation and Release of Information">
      Consent to Representation and Release of Information
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-md-12 text-left">
      <span class="label">
        1.  I have requested the representation of and consented to being represented by the attorney
        or accredited representative named in Part 1. of this form.  According to the Privacy Act
        of 1974 and DHS policy, I also consent to the disclosure to the named attorney or accredited
        representative of any record pertaining to me that appears in any system of records of USCIS,
        ICE or CBP.
        <br/><br/>
        When you (the applicant, petitioner, requestor, or respondent) are represented, DHS will send
        notices to both you and your attorney or accredited representative either through mail or
        electronic delivery.
        <br/><br/>
        DHS will also send the Form I-94, Arrival Departure Record, to you unless you select Item Number 2.a.
        in Part 4.  All secure identity documents and Travel Documents will be sent to you (the applicant,
        the petitioner, requestor, or respondent) at your U.S. mailing address unless you ask us to send your
        secure identity documents to your attorney of record or accredited representative.
        <br/><br/>
        If you do not want to receive original notices or secure identity documents directly, but would
        rather have such notices and documents sent to your attorney of record or accredited representative,
        please select all applicable boxes below:
      </span>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">2.a.</span>
    </div>
    <div class="col text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part4sendAnyRequest">
      <label class="form-check-label checkBoxLabel" for="part4sendAnyRequest">
        I request DHS send any notice (including Form I-94) on an application, petition, or request
        to the U.S. business address of my attorney of record or accredited representative as listed
        in this form.  I understand that I may change this election at any future date through written
        notice to DHS.
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col-xs-1 text-left">
      <span class="label">2.b.</span>
    </div>
    <div class="col text-left">
      <input type="checkbox" class="form-check-input checkBoxSpacing" id="part4sendSecureIdentityDocument">
      <label class="form-check-label checkBoxLabel" for="part4sendSecureIdentityDocument">
        I request that DHS send any secure identity document, such as a Permanent Resident Card,
        Employment Authorization Document, or Travel Document, that I am approved to receive and
        authorized to possess, to the U.S. business address of my attorney of record or accredited 
        representative as listed in this form or to a designated military or diplomatic address
        for pickup in a foreign country (if permitted).  I consent to having my secure identity
        document sent to my attorney of record or accredited representative's U.S. business
        address and understand that I may request, at any future date and through written notice to 
        DHS, that DHS send any secure identity document to me directly.
      </label>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.a.  Signature of Applicant, Petitioner, Requestor, or Respondent:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="text" maxlength="40" id="part4_applicant_signature" class="form4-field"
        title="Signature of Applicant, Petitioner, Requestor, or Respondent"/>
    </div>
  </div>

  <div class="row form-row text-left">
    <div class="col text-left">
      <span class="label">3.b.  Date of Signature <em>(mm/dd/yyyy)</em>:</span>
    </div>
    <div class="col-md-8 text-left">
      <input type="date" maxlength="40" id="part4_signature_date" class="form4-field"
        title="Date of Signature"/>
    </div>
  </div>

  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-primary saveBtn text-center" id="btn_part_4" 
        title="Click to save Part Four of this form">
        Save Part 4 of Form
      </button>
    </div>
  </div>

</div>
