<div class="container-fluid border">

  <div class="row">
      <div class="text-left col">
        Use the space provided below to provide additional information pertaining to
        Part 3., Item Numbers 1.a.-1.d. or to provide your U.S. business address for
        purposes of receiving secure identity documents for your client (if your client
        has consented to your receipt of such documents under Part 4.)
      </div>
  </div>

  <div class="row">
      <div class="text-center col">
        <textarea class="form-control" name="part6_additional_info"></textarea>
      </div>
  </div>

  <div class="row form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-large btn-block btn-primary saveBtn text-center" id="btn_part_6" 
        title="Click to save Part Six of this form">
        Save Part 6 of Form
      </button>
    </div>
  </div>

</div>
